*{
    padding: 0%;
    margin: 0%;
}

.inner ul li {
    overflow: auto;
    list-style: none;
    float: left;
    padding: 0px 0px;
}
.btn{
    padding: 3px 9px
}
.img
{
    text-decoration: none;
   color: black;
}
.left{
   float: right;
}
